<header class="header">
    <a class="logo" href="">
        <img width="148" height="22" src="/assets/images/logo-happylend-white.svg" alt="HappyLend logo">
    </a>
    <ul class="user-menu">
        <li>
            <a
                href="#"
                aria-label="Пользователь"
            >
                <svg width="23" height="23">
                    <use xlink:href="#i-user"></use>
                </svg>
            </a>
        </li>
        <li>
            <a
                class="logout"
                aria-label="Выход"
                routerLink="/"
            >
                <svg width="21" height="22">
                    <use xlink:href="#i-logout"></use>
                </svg>
            </a>
        </li>
    </ul>
</header>
